/* Hamburger Icon */
#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  z-index: 1;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.55s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

/* Hamburger Change Effect */
.change .bar {
  /* color the hamburger after click */
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

/* Hamburger Drop-Down */
.nav li {
  color: white;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.nav li {
  /* each satellite(li) in the box (ul.nav) */
  list-style: none;
  padding: 16px 0;
  border-bottom-style: dotted;
  border-color: #f806d8;
  border-width: 1px;
  text-align: center;
}

.nav {
  /* The box around the list */
  padding: 0;
  margin: 0 20px;
  width: 45vh;
  border-style: solid;
  border-color: #02701a;
  border-width: 3px;
  opacity: 0;
  transition: 1.3s ease;
  max-height: 58vh;
  /*The important part*/
  overflow-y: auto;
  /*Also...*/
  overflow-x: hidden;
  /*And the end of the important part*/
}

/* Hamburger Color Effects */
.change {
  /* being applied to .nav*/
  opacity: 75%;
}

.menu-bg, #menu-bar {
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
}

#menu-bar {
  z-index: 2;
}

/* Satellite Viewer */
.satellite-menu {
  /* satellite window */
  color: white;
  border-style: solid;
  border-color: red;
  border-width: 1px;
  width: 60vh;
  opacity: 100%;
  text-align: center;
  top: -400px;
  /* hide the menu up above, to bring down to user*/
}

.show-sat-view {
  float: right;
  position: relative;
  /* necessary to show through the SASS background*/
  opacity: 0%;
  animation: drop 1.3s ease forwards;
}

@keyframes drop {
  0% {
    opacity: 0;
  }
  70% {
    transform: translateY(430px);
    opacity: 0.25;
  }
  100% {
    transform: translateY(400px);
    opacity: 1;
  }
}
/* ????? */
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stars {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}

img {
  height: 70vh;
  width: 120vh;
  position: absolute;
  z-index: 3;
  top: 15%;
  left: 23%;
}

label {
  color: white;
}

form {
  opacity: 100%;
  margin-bottom: 20px;
}

.user-panel {
  position: absolute;
  height: 80vh;
  width: 50vh;
  left: 20px;
  opacity: 0%;
  border: 2px #ffe600 solid;
  transition: 1.3s ease;
}

.user-change {
  opacity: 100%;
}

/*# sourceMappingURL=styles.css.map */
